<% set_meta_tags title: t('.title') %>
<section class="inquiry">
  <div class="container-fluid px-5 py-5">
    <div class="my-5">
      <h1 class="h2 fw-bold mb-4"><%= t('.title') %></h1>
      <p class="mb-2">お問い合わせ、不具合の報告などございましたら、以下のTwitterアカウントまでご連絡ください。</p>
      <p class="mb-4">ご感想もお待ちしております。</p>
      
      <%= link_to 'https://twitter.com/snrrrns', class: 'btn', target: '_blank', rel: 'noopener noreferrer' do %>
        <i class="fab fa-twitter pe-1"></i>@snrrrns
      <% end %>
    </div>
  </div>
</section>
