<section class="top">
  <div class="container-fluid">
    <div class="d-flex flex-column-reverse mb-3">
      <h1 class="top-title">
        <%= image_tag('top_logo.png') %>
      </h1>
      <p class="top-sub-title ms-2 mb-3">デスボイス測定アプリ</p>
    </div>
    <h2 class="top-catchcopy ms-2">SHOW ME YOUR VOKILL!!!!</h2>
    <div class="row">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center col-5">
          <div class="top-button">
            <button type="button" class="btn btn-primary center-block rounded-circle mt-4 fadeup" data-bs-toggle="modal" data-bs-target="#exampleModal">はじめる</button>
          </div>

          <div class="modal text-dark fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header py-2">
                  <h5 class="h6 modal-title" id="exampleModalLabel">注意事項</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                  <ul class="ps-3">
                    <li>
                      このサービスは現在PCでのみ利用可能です。<br>
                      スマートフォンからはご利用いただけません。
                    </li>
                    <li>
                      対応ブラウザはGoogle Chromeのみとなっております。
                    </li>
                    <li>
                      このサービスではマイクを使用し、音が鳴ります。周囲の環境には十分ご配慮ください。
                    </li>
                    <li>
                      ゲームを開始した時点で、利用規約・プライバシーポリシーに同意したものとみなします。
                    </li>
                  </ul>
                </div>
                <div class="modal-footer p-2">
                  <%= link_to recordings_path, class: 'm-0' do %>
                    <button type="button" class="btn btn-primary">了解</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="pe-4 col-6">
          <%= image_tag('top_image.png', class: 'w-100') %>
        </div>
      </div>
    </div>
  </div>
</section>
