<div class="col-sm-7 col-md-3 col-10">
  <div class="card-box">
    <%= link_to recording_path(recording) do %>
      <div class="card bg-dark shadow fadeup">
        <%= image_tag(recording.vocal_image.url, class: 'card-img-top') %>
        <div class="card-body text-center">
          <h2 class="h5"><%= recording.vocal_style %></h2>
          <small class="text-muted text-nowrap"><%= recording.summary %></small>
        </div>
      </div>
    <% end %>
  </div>
</div>
