<% set_meta_tags title: t('.title') %>
<section class="index">
  <div class="container-fluid">
    <div class="d-flex align-items-center flex-column justify-content-center my-3">
      <h1 class="h4 mb-3"><%= t('.title') %></h1>
      <div class="fake mb-5"></div>
      <div class="row justify-content-evenly mt-2">
        <%= render @recordings %>
      </div>
    </div>
  </div>
</section>
