<section class="recording">
  <div class="container-fluid">
    <div class="main-controls">
      <div class="d-flex justify-content-center my-4">
        <button id="js-permission-button" class="btn btn-warning">マイク許可</button>
      </div>
      <div class="d-flex justify-content-between">
        <button id="js-record-button" class="btn btn-primary">録音</button>
        <button id="js-stop-button" class="btn btn-danger">停止</button>
      </div>
      <div class="d-flex justify-content-center my-4">
        <button id="js-playback-button" class="btn btn-success">再生</button>
      </div>
    </div>

    <div class="sound-clips">
      <div class="d-flex justify-content-center">
        <audio id="js-player" controls></audio>
        <a id="js-download-link" type="hidden"></a>
      </div>
    </div>

    <div class="d-flex justify-content-center my-5">
      <button id="js-result-button" class="btn btn-primary">判定結果</button>
      <%= form_with url: recording_results_path(@recording), id: "voiceform", local: true do |f| %>
        <%= f.hidden_field :recording_id, :value => @recording.id %>
        <%= f.hidden_field :vocal_data  %>
      <% end %>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'voice' %>
