<footer class="footer w-100">
  <div class="bg-dark text-center py-2">
    <div class="container-fluid">
      <ul class="row">
        <li class="col-sm-4 p-2">
          <%= link_to t('static_pages.terms.title'), terms_path, data: { turbolinks: false } %>
        </li>
        <li class="col-sm-4 p-2">
          <%= link_to t('static_pages.privacy_policy.title'), privacy_policy_path, data: { turbolinks: false } %>
        </li>
        <li class="col-sm-4 p-2">
          <%= link_to t('static_pages.inquiry.title'), inquiry_path, data: { turbolinks: false } %>
        </li>
      </ul>
      <p class="mt-2">&copy; 2022 Grunt Checker</p>
    </div>
  </div>
</footer>
