<footer class="footer">
  <div class="bg-dark text-center py-2">
    <div class="container-fluid">
      <ul class="row">
        <li class="col-sm-4 p-2">
          <%= link_to '利用規約', '#' %>
        </li>
        <li class="col-sm-4 p-2">
          <%= link_to 'プライバシーポリシー', '#' %>
        </li>
        <li class="col-sm-4 p-2">
          <%= link_to 'お問い合わせ', '#' %>
        </li>
      </ul>
      <p class="mt-2">&copy; 2022 Grunt Checker</p>
    </div>
  </div>
</footer>
