<header class="header">
  <nav class="fixed-top navbar bg-dark">
    <div class="container-sm">
      <%= link_to image_tag('header_logo.png', class: 'navbar-brand'), root_path %>
    </div>
  </nav>
</header>
